# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.MPT_UP_02.01_P50_2_18_26.iml
# Datasource local storage ignored files
/../../../../../../:\RiderProjects\MPT_UP_02.01_P50_2_18_26\.idea\.idea.MPT_UP_02.01_P50_2_18_26\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
